<section class="sec-borrow vantage-request" ng-controller="ClientOverviewController" ng-if="loanDuration > 0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="request-header text-center" style="text-align: center">
					<h1>Borrow for up to 3 months</h1>
					<p>Repay monthly on your pay day or earlier if it suits you</p>
					<p>Rate <strong>0.8%</strong> per day</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ng-include src="'/myjar/angular-app/client/overview/tabs/tabNav.html'"></div>
		</div>
		<div class="tab-content">
			<div>
				<div class="col-md-12" ng-include src="'/myjar/angular-app/client/overview/tabs/tabContent.html'"></div>
			</div>
		</div>
	</div>
</section>